.collapse_header {
    width: 100%;
    color: white;
    background-color: black;
    height: 40px;
    line-height: 40px;
    margin: 0px;
}
.collapse_button {
    position: absolute;
    right: 4px;
    top: 4px;
}
.collapse_body {
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
}