th {
    font-size: 9px;
    font-family: "FightStack";
}
th, td {
    background-color: transparent;
    border-color: black;
}
.contact_list {
    min-width: min(75%, 400px);
    color: black
}
.contact_menu {
    margin-top: 0px;
}
.contact_list td:nth-child(3) {
    padding: 3px;
}
.col1 {
    background-color: #ff55ff;
}
.col2 {
    background-color: #55ffff;
}