body img:first-child {
    content: var(--top_image);
}
body {
    background-color: var(--background);
    color: var(--font);
    margin: 0;
    text-align: center;
    font-family: "FightSim Body";
    font-size: 16px;
}
img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px
}
.header {
    background-color: var(--header_bg);
    color: var(--font);
    height: 25px;
    max-width: 90%;
    border-radius: 3px;
    border: 1px solid var(--header_border);
    text-align: center;
    display: inline-block;
    padding-left: 21px;
    padding-right: 5px;
    position: relative;
    margin-right: 17px;
    margin-bottom: 3px;
}
.header a {
    text-align: center;
    line-height: 25px;
    text-decoration: none !important;
}
.header a:visited, .header a:hover, .header a:focus, .header a:active {
    color: var(--font);
}
.header a:hover {
    background-color: var(--header_hover);
}
h3, h2 {
    font-weight: bold;
    font-size: 16px;
}
h1 {
    font-size: 32px;
    font-family: "FightSim Body Double";
    font-weight: normal;
}
#time_box {
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--font);
    border-radius: 3px;
    border: 2px solid var(--timebox_border);
    text-align: left;
    width: 72px;
    height: 34px;
    background-color: var(--timebox_bg);
}
#time_box_turns {
    position: absolute;
    left: 34px;
}
#time_box_weather_container {
    position: absolute;
    bottom: 2px;
    left: 34px;
    width: 34px;
    height: 16px;
}
#time_box_time {
    position: absolute;
    left: 0px;
}
#time_box_weather {
    position: absolute;
    right: 0px;
}
#time_box_icon {
    position: absolute;
    top: 1px;
    left: 2px;
}
.struct, .output {
    border: 5px solid var(--struct_border);
    background-color: var(--struct_bg);
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.output {
    width: 350px;
    border-width: 2px;
    background-color: var(--header_bg);
    padding: 3px;
}
.struct .struct {
    width: 90%
}
td.inv_item span:not(.icon), .pt_stackcount, span.icon > span:not(.icon) {
    color: var(--stack_color);
    position: absolute;
    right: 0px;
    bottom: 0px;
    /*From https://stackoverflow.com/a/4919231 */
    text-shadow: -1px -1px 0 var(--stack_border), 1px -1px 0 var(--stack_border), -1px 1px 0 var(--stack_border), 1px 1px 0 var(--stack_border), 0px 1px 0 var(--stack_border), 1px 0px 0 var(--stack_border), 0px -1px 0 var(--stack_border), -1px 0px 0 var(--stack_border);
    font-size: 9px;
    font-family: "FightStack";
}
/*@font-face {
    font-family: "FightSim-Num";
    src: url("FightSim-Num.ttf");
}*/ /* font was made with fontforge and for some reason doesn't want to work (everything but .notdef is empty)*/
@font-face {
    font-family: "FightSim 6";
    src: url("../fightsim-6px.ttf");
}
@font-face {
    font-family: "FightStack";
    src: url("../fightstack.ttf");
}
@font-face {
    font-family: "FightSim Body";
    src: url("../fightsim-body.ttf");
}
@font-face {
    font-family: "FightSim Body";
    src: url("../fightsim-body-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "FightSim Body";
    src: url("../fightsim-body-italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "FightSim Body";
    src: url("../fightsim-body-bold-italic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "FightSim 12";
    src: url("../fightsim-12px.ttf");
}
@font-face {
    font-family: "FightSim 20";
    src: url("../fightsim-20px.ttf");
}
@font-face {
    font-family: "FightSim 20";
    src: url("../fightsim-20px-italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "FightSim Body Double";
    src: url("../fightsim-body-bold-double.ttf");
}
span.normal {
    color: var(--ele_normal);
    font-weight: bold;
}
span.fire {
    color: var(--ele_fire);
    font-weight: bold;
}
span.water {
    color: var(--ele_water);
    font-weight: bold;
}
span.electric {
    color: var(--ele_elec);
    font-weight: bold;
}
span.plant {
    color: var(--ele_plant);
    font-weight: bold;
}
span.ice {
    color: var(--ele_ice);
    font-weight: bold;
}
span.light {
    color: var(--ele_light);
    font-weight: bold;
}
span.dark {
    color: var(--ele_dark);
    font-weight: bold;
}
span.normal2 {
    color: var(--ele_normal);
}
span.fire2 {
    color: var(--ele_fire);
}
span.water2 {
    color: var(--ele_water);
}
span.electric2 {
    color: var(--ele_elec);
}
span.plant2 {
    color: var(--ele_plant);
}
span.ice2 {
    color: var(--ele_ice);
}
span.light2 {
    color: var(--ele_light);
}
span.dark2 {
    color: var(--ele_dark);
}
span.phone_number, span.phone_num {
    color: var(--phone_number);

}