.player_table, .summon_div, .summon_div_inner {
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
    padding-bottom: 5px;
    vertical-align: top;
    position: relative;
}
.player_table {
    width: 400px;
}
.summon_div {
    width: 300px;
    background-color: #9f9f9f;
}
.summon_div_inner {
    width: 250px;
    padding: 0px;
}
.summon_div_inner:not(.table_summon_div_inner) {
    height: 32px;
    font-size: 12px;
    font-family: "FightSim 12";
}
.summon_div_inner.table_summon_div_inner {
    min-height: 32px;
}
.rpg_stat_container {
    width: 200px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rpg_stat_container td, .rpg_stat_container tr {
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-family: "FightSim 12";
}
.username {
    color: white;
    background-color: black;
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}
.lower_username {
    font-size: 12px;
    font-weight: initial;
    margin: 0px;
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    bottom: 0px;
    font-family: "FightSim 12";
}
.pn_contain {
    font-size: 9px;
    font-weight: initial;
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: "FightStack";
}
.type_icon_contain {
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 1;
}
.health_disp, .combat_disp {
    width: calc(50% - 1px);
    display: inline-block;
    background-color: #8f8f8f;
    height: 32px;
}
.kd_disp {
    width: 100%;
    display: inline-block;
    background-color: #8f8f8f;
    height: 32px;
}
.health_disp {
    float: left;
}
.combat_disp {
    float: right;
}
.kd_disp {
   margin-top: 2px; 
}
.type_icon {
    position: absolute;
    left: 0px;
}
.meter_container {
    height: 68px;
    background-color: black;
    font-size: 12px;
    font-family: "FightSim 12";
}
.pt_effects, .pt_skills {
    width: 95%;
    margin-top: 0px;
}
.pt_effects tr, .pt_effects td, .pt_effects th, .pt_skills tr, .pt_skills td, .pt_skills th, .pt_equip tr, .pt_equip td, .pt_equip th {
    background-color: transparent;
}
.pt_equip {
    margin-top: 0px;
    width: 272px;
    height: 32px;
    background-image: url("../3/Items/Exported/equip_back.png");
    display: block;
    margin: auto;
    padding: 2px 0px 2px 2px;
}
.pt_equip span {
    margin-right: 2px;
}
.pt_level_upper {
    font-weight: bold;
    font-size: 16px;
}
.pt_level_lower {
    /*font-style: italic;*/
    font-size: 9px;
    font-family: "FightStack";
    text-align: right;
}
.pt_level_contain {
    position: absolute;
    right: 2px;
    top: 2px;
    color: white;
    z-index: 1;
}
.pt_level_contain p {
    margin: 0px;
}
.pt_level_bar_outer {
    height: 6px;
    border: 1px solid white;
    border-radius: 5px;
}
.pt_level_bar_inner {
    background-color: white;
    height: 100%;
}
.col1 {
    width:32px;
    background-color: #7f7f7f;
}
.col2 {
    width:100%; background-color: #9f9f9f;
}
.col3 {
    width:20px; background-color: #7f7f7f;
}
.col4 {
    width:30px; background-color: #9f9f9f;
}