table, th, td {
    border-collapse: collapse;
    font-size: 16px;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
th, td {
    max-width: 400px;
    background-color: var(--table_bg);
    border: 1px solid var(--table_border);
}
td>img {
    margin-top: 0px;
    background-color: var(--inv_table_bg);
}
.inv_item {
    width: 32px;
    height: 32px;
    background-color: var(--inv_table_bg);
    border: 2px ridge var(--inv_table_border);
    text-align: center;
    position: relative;
    background-clip: padding-box;
    padding: 0px;
}
.inv_space {
    width: 6px;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    position: relative;
    background-clip: padding-box;
}
.inv_user {
    font-family: "FightSim Body";
    text-align: center;
}
td.inv_item span.icon {
    display: block;
    margin: 1px;
}
span.icon.dbg {
    background-color: var(--inv_table_dbg);
}

/*td.inv_item:has(.dbg) {
    background-color: #3f3f3f;
}*/
