.tooltip_body {
    background-color: rgb(29, 14, 30);
    border: 3px solid rgb(44, 10, 98);
    border-radius: 5px;
    padding: 0px 5px;
    width: 300px;
    min-height: 25px;
    color: white;
    text-align: left;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    z-index: 3;
}
.tooltip_src1, .tooltip_cat1, .tooltip_price1 {
    color: #8f8f8f;
}
.tooltip_src1, .tooltip_src2, .tooltip_cat1, .tooltip_cat2, .tooltip_name, .tooltip_desc, .tooltip_price_cont, .tooltip_price1, .tooltip_price2 {
    display: inline;
}
.tooltip_name {
    font-size: 18px;
    font-family: "FightSim 20";
    color: cyan;
    font-weight: normal;
}
.tooltip_src1, .tooltip_src2, .tooltip_cat1, .tooltip_cat2, .tooltip_price1, .tooltip_price2 {
    font-size: 9px;
    /*font-style: italic;*/
    font-family: "FightStack";
}
.tooltip_bonus {
    font-style: italic;
    font-weight: bold;
    color: #6f6fff
}
.tooltip_name.common {
    color: #0fefef;
}
.tooltip_name.uncommon {
    color: #0f7fef;
}
.tooltip_name.rare {
    color: #0fef7f;
}
.tooltip_name.unique {
    color: #ef7f0f;
}
.tooltip_name.moss {
    color: #2f7f1f;
}
.tooltip_name.plot_b {
    background: rgb(175,111,15);
    background: linear-gradient(180deg, rgba(223,207,15,1) 10%, rgba(175,111,15,1) 60%, rgba(127,15,15,1) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.tooltip_name.plot_g {
    background: rgb(231,223,127);
    background: linear-gradient(180deg, rgba(223,207,15,1) 10%, rgba(231,223,127,1) 60%, rgba(239,239,239,1) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.tooltip_name.fs2_ex {
    color: #7f7f7f;
}

.info_body {
    background-color: #ffffffbf;
    border: 3px solid #ffffffdf;
    border-radius: 5px;
    padding: 0px 5px;
    width: 300px;
    min-height: 25px;
    color: black;
    text-align: left;
    position: fixed;
    bottom: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: none;
    z-index: 3;
}
.info_name, .info_desc {
    margin: 0px;
    text-align: center;
}
.info_name {
    font-size: 18px;
    color: #3f3f3f;
    font-family: "FightSim 20";
    font-weight: normal;
}
.info_desc ul, .info_desc ol {
    text-align: left;
    padding-left: 10px;
}
.info-hover {
    text-decoration: underline dashed #3f3fff;
}