.tooltip_body {
    background-color: var(--tooltip_bg);
    border: 3px solid var(--tooltip_border);
    border-radius: 5px;
    padding: 0px 5px;
    width: 300px;
    min-height: 25px;
    color: var(--tooltip_text);
    text-align: left;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    z-index: 3;
}
.tooltip_src1, .tooltip_cat1, .tooltip_price1 {
    color: var(--tooltip_dark);
}
.tooltip_src1, .tooltip_src2, .tooltip_cat1, .tooltip_cat2, .tooltip_name, .tooltip_desc, .tooltip_price_cont, .tooltip_price1, .tooltip_price2 {
    display: inline;
}
.tooltip_name {
    font-size: 18px;
    font-family: "FightSim 20";
    color: var(--rarity_null);
    font-weight: normal;
}
.tooltip_src1, .tooltip_src2, .tooltip_cat1, .tooltip_cat2, .tooltip_price1, .tooltip_price2 {
    font-size: 9px;
    /*font-style: italic;*/
    font-family: "FightStack";
}
.tooltip_bonus {
    font-style: italic;
    font-weight: bold;
    color: var(--tooltip_bonus)
}
.tooltip_name.common {
    color: var(--rarity_common);
}
.tooltip_name.uncommon {
    color: var(--rarity_uncommon);
}
.tooltip_name.rare {
    color: var(--rarity_rare);
}
.tooltip_name.unique {
    color: var(--rarity_unique);
}
.tooltip_name.moss {
    color: var(--rarity_moss);
}
.tooltip_name.plot_b {
    background: var(--rarity_pbad_fallback);
    background: var(--rarity_pbad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.tooltip_name.plot_g {
    background: var(--rarity_pgood_fallback);
    background: var(--rarity_pgood);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.tooltip_name.fs2_ex {
    color: var(--rarity_unob);
}

.info_body {
    background-color: var(--info_bg);
    border: 3px solid var(--info_border);
    border-radius: 5px;
    padding: 0px 5px;
    width: 300px;
    min-height: 25px;
    color: var(--info_text);
    text-align: left;
    position: fixed;
    bottom: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: none;
    z-index: 3;
}
.info_name, .info_desc {
    margin: 0px;
    text-align: center;
}
.info_name {
    font-size: 18px;
    color: var(--info_name);
    font-family: "FightSim 20";
    font-weight: normal;
}
.info_desc ul, .info_desc ol {
    text-align: left;
    padding-left: 10px;
}
.info-hover {
    text-decoration: underline dashed var(--info_hover);
}