.tooltip_body {
    background-color: black;
    border: 3px solid #55ffff;
    border-radius: 5px;
    padding: 0px 5px;
    width: 300px;
    min-height: 25px;
    color: white;
    text-align: left;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
}
.tooltip_src1, .tooltip_cat1, .tooltip_price1 {
    color: white;
}
.tooltip_src1, .tooltip_src2, .tooltip_cat1, .tooltip_cat2, .tooltip_name, .tooltip_desc, .tooltip_price_cont, .tooltip_price1, .tooltip_price2 {
    display: inline;
}
.tooltip_name {
    font-size: 18px;
    font-family: "FightSim 20";
    color: #55ffff;
    font-weight: normal;
}
.tooltip_src1, .tooltip_src2, .tooltip_cat1, .tooltip_cat2, .tooltip_price1, .tooltip_price2 {
    font-size: 9px;
    /*font-style: italic;*/
    font-family: "FightStack";
}
.tooltip_bonus {
    font-style: italic;
    font-weight: bold;
    color: #55ffff
}
.tooltip_name.common {
    color: #55ffff;
}
.tooltip_name.uncommon {
    color: #55ffff;
}
.tooltip_name.rare {
    color: #ff55ff;
}
.tooltip_name.unique {
    color: #ff55ff;
}
.tooltip_name.plot_b {
    /*background: rgb(175,111,15);
    background: linear-gradient(180deg, rgba(223,207,15,1) 10%, rgba(175,111,15,1) 60%, rgba(127,15,15,1) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;*/
    color: #ff55ff;
}
.tooltip_name.plot_g {
    /*background: rgb(231,223,127);
    background: linear-gradient(180deg, rgba(223,207,15,1) 10%, rgba(231,223,127,1) 60%, rgba(239,239,239,1) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;*/
    color: white;
}
.tooltip_name.fs2_ex {
    color: white;
}

.info_body {
    background-color: white;
    border: 3px solid #55ffff;
    border-radius: 5px;
    padding: 0px 5px;
    width: 300px;
    min-height: 25px;
    color: black;
    text-align: left;
    position: fixed;
    bottom: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: none;
}
.info_name, .info_desc {
    margin: 0px;
    text-align: center;
}
.info_name {
    font-size: 18px;
    color: black;
    font-family: "FightSim 20";
    font-weight: normal;
}
.info_desc ul, .info_desc ol {
    text-align: left;
    padding-left: 10px;
}
.info-hover {
    text-decoration: underline dashed #55ffff;
}