:root {
    /*--icn_equip: url("../Icons/Exported/equip_sheet.png");*/
    --icn_info: url("../Icons/Exported/info_sheet.png");
    --icn_mini: url("../Icons/Exported/mini_sheet.png");
    --icn_icons: url("../Icons/Exported/icons_sheet.png");
    --icn_ph: url("../Icons/Exported/placeholder_sheet.png");
    --icn_meat: url("../Icons/Exported/meat_sheet.png");
    --icn_misc: url("../Icons/Exported/misc_sheet.png");
    --icn_crop: url("../Icons/Exported/crop_sheet.png");
    --icn_ore: url("../Icons/Exported/ore_sheet.png");
    --icn_wood: url("../Icons/Exported/wood_sheet.png");
    --icn_block: url("../Icons/Exported/block_sheet.png");
    --icn_mob: url("../Icons/Exported/mob_sheet.png");
    --icn_decor: url("../Icons/Exported/decor_sheet.png");
    --icn_plant: url("../Icons/Exported/plant_sheet.png");
    --icn_color: url("../Icons/Exported/colorable_sheet.png");
    --icn_alch: url("../Icons/Exported/alchemy_sheet.png");
    --icn_food: url("../Icons/Exported/food_sheet.png");
    --icn_fish: url("../Icons/Exported/fish_sheet.png");
    --icn_candy: url("../Icons/Exported/candy_sheet.png");
    --icn_sticker: url("../Icons/Exported/sticker_sheet.png");
    --icn_critter: url("../Icons/Exported/critter_sheet.png");
    --icn_tags: url("../Icons/Exported/tags_sheet.png");
    --icn_cake: url("../Icons/Exported/cake_sheet.png");
    --icn_cd_small: url("../Icons/Exported/critter_desc_small_sheet.png");
    --icn_cd_large: url("../Icons/Exported/critter_desc_large_sheet.png");
    --icn_ally: url("../Icons/Exported/ally_sheet.png");
    --icn_scroll: url("../Icons/Exported/scroll_sheet.png");
    --icn_egg: url("../Icons/Exported/egg_sheet.png");
    --icn_file: url("../Icons/Exported/file_sheet.png");
    --icn_armortier: url("../Icons/Exported/armor_tiered_sheet.png");
    --icn_armormisc: url("../Icons/Exported/armor_misc_sheet.png");
    --icn_weapontier: url("../Icons/Exported/weapons_tiered_sheet.png");
    --icn_weaponmisc: url("../Icons/Exported/weapons_misc_sheet.png");
    --icn_dust: url("../Icons/Exported/dust_sheet.png");
    --icn_prof_bg: url("../Icons/Exported/prof_bg_sheet.png");
    --icn_banana: url("../3/banana.gif");
    --icn_fumo: url("../Icons/Exported/fumo.png");

    --icn_unused: #5f5f5f;
    --icn_ench: #bf00ff7f;
}