:root {
    --icn_equip: url("../Icons/Exported/equip_sheet.png");
    --icn_info: url("../Icons/Exported/info_sheet.png");
    --icn_mini: url("../Icons/Exported/mini_sheet.png");
    --icn_icons: url("../Icons/Resprite/icons_sheet.png");
    --icn_ph: url("../Icons/Exported/placeholder_sheet.png"); /* unchanged */
    --icn_meat: url("../Icons/Exported/meat_sheet.png");
    --icn_misc: url("../Icons/Exported/misc_sheet.png");
    --icn_crop: url("../Icons/Exported/crop_sheet.png");
    --icn_ore: url("../Icons/Resprite/ore_sheet.png");
    --icn_wood: url("../Icons/Exported/wood_sheet.png");
    --icn_block: url("../Icons/Resprite/block_sheet.png");
    --icn_mob: url("../Icons/Exported/mob_sheet.png");
    --icn_decor: url("../Icons/Exported/decor_sheet.png");
    --icn_plant: url("../Icons/Exported/plant_sheet.png");
    --icn_color: url("../Icons/Exported/color_sheet.png");
    --icn_alch: url("../Icons/Resprite/alchemy_sheet.png");
    --icn_food: url("../Icons/Exported/food_sheet.png");
    --icn_fish: url("../Icons/Exported/fish_sheet.png");
    --icn_candy: url("../Icons/Exported/candy_sheet.png");
    --icn_sticker: url("../Icons/Exported/sticker_sheet.png");
    --icn_critter: url("../Icons/Exported/critter_sheet.png");
    --icn_tags: url("../Icons/Exported/tags_sheet.png");
    --icn_cake: url("../Icons/Exported/cake_sheet.png"); /* unchanged */
    --icn_c_desc: url("../Icons/Exported/critter_desc_sheet.png");
    --icn_ally: url("../Icons/Exported/ally_sheet.png");
    --icn_scroll: url("../Icons/Exported/scroll_sheet.png"); /* unchanged */
    --icn_egg: url("../Icons/Exported/egg_sheet.png");
    --icn_file: url("../Icons/Exported/file_sheet.png"); /* unchanged */
    --icn_banana: url("../3/banana.gif");

    --icn_bg: url("../3/Items/Exported/equip_back.png");

    --icn_unused: #5f5f5f;
    --icn_ench: #bf00ff7f;
}