/* setup */
span.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}
span.small_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icon {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -480px -480px;
}
/* hud */
.heart, .health {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px 0px;
}
.heart2 {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px 0px;
}
.broken_heart, .ko {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px 0px;
}
.sword, .attack {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px 0px;
}
.sheild, .shield, .defense, .defence {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px 0px;
}
.swing, .kill {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px 0px;
}
.broken_sheild, .death, .broken_shield {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px 0px;
}
/* types */
.normal_type, .placeholder {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px -64px;
}
.fire_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px -64px;
}
.water_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px -64px;
}
.elec_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px -64px;
}
.plant_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px -64px;
}
.ice_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px -64px;
}
.light_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px -64px;
}
.dark_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px -64px;
}
.typeless {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -256px -64px;
}
.missingtype {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -288px -64px;
}
/* effects */
.fire, .on_fire {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px -128px;
}
.freeze, .frozen {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px -128px;
}
.atk_up {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px -128px;
}
.def_up {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px -128px;
}
.atk_down {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px -128px;
}
.def_down {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px -128px;
}
.afk, .sleep {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px -128px;
}
.lightning, .paralyzed {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px -128px;
}
.poison, .poisoned {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -256px -128px;
}
.water, .soaked, .water_drop {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -288px -128px;
}
.bleeding {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -320px -128px;
}
/* skills */
.pickaxe, .mining {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px -192px;
}
.axe, .chopping {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px -192px;
}
.crafting {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px -192px;
}
.cooking, .grill {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px -192px;
}
.flower, .gardening {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px -192px;
}
.construction {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px -192px;
}
.carving, .sharpening {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px -192px;
}
.wheat, .farming {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px -192px;
}
.fishing {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -256px -192px;
}
.alchemy {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -288px -192px;
}
/* misc */
.missing, .iconless, .missingno {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -480px -480px;
}
/* equipment */
.empty_helm {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px 0px;
}
.empty_chest {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px 0px;
}
.empty_legs {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px 0px;
}
.empty_boots {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px 0px;
}
.empty_sword {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px 0px;
}
.empty_shield, .empty_sheild {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px 0px;
}
.empty_acc {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px 0px;
}
.empty_food {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px 0px;
}
.diamond_helm {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -32px;
}
.diamond_chest {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -32px;
}
.diamond_legs {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -32px;
}
.diamond_boots {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -32px;
}
.diamond_sword {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -32px;
}
.diamond_shield, .diamond_sheild {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -32px;
}
.diamond_acc {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -32px;
}
.gold_burger {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -32px;
}
.wood_sword {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -64px;
}
.stick {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -64px;
}
.wood_shovel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -64px;
}
.stick_rock {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -64px;
}
.decent_hammer {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -64px;
}
.icicle {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -64px;
}
.gold_carrot {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -64px;
}
.gold_sword {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -96px;
}
.gold_shovel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -96px;
}
.gold_pickaxe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -96px;
}
.gold_axe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -96px;
}
.stone_sword {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -96px;
}
.stone_shovel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -96px;
}
.stone_pickaxe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -96px;
}
.stone_axe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -96px;
}
.iron_sword {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -128px;
}
.iron_shovel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -128px;
}
.iron_pickaxe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -128px;
}
.iron_axe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -128px;
}
.diamond_shovel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -128px;
}
.diamond_pickaxe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -128px;
}
.diamond_axe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -128px;
}
.wood_pickaxe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -128px;
}
.wood_axe {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -160px;
}
.stick_item {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -160px;
}
.rock {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -160px;
}
.flint_and_steel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -160px;
}
.log {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -192px;
}
.plank, .planks {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -192px;
}
.dirt {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -192px;
}
.grass {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -192px;
}
.gravel {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -192px;
}
.sand {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -192px;
}
.coal {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -224px;
}
.diamond {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -224px;
}
.iron_ore {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -224px;
}
.iron_bar {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -224px;
}
.copper_ore {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -224px;
}
.copper_bar {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -224px;
}
.gold_ore {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -224px;
}
.gold_bar {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -224px;
}
.logo_f {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -416px 0px;
}
.logo_s {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -448px 0px;
}
.logo_3 {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -480px 0px;
}
.tnt {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -416px -192px;
}
.stone {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -192px;
}
.sandstone {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -192px;
}
.bricks {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -192px;
}
.stone_bricks {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -192px;
}
.sandstone_bricks {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -320px -192px;
}
.carved_sandstone {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -352px -192px;
}
.glass_block {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -384px -192px;
}
.carrot {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -64px;
}
.apple {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -288px;
}
.golden_apple {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -288px;
}
.orange {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -288px;
}
.golden_orange {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -288px;
}
.clay_sheild, .clay_shield {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -96px;
}
.hardite_ore {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -224px;
}
.hardite_bar {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -224px;
}
.emerald {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -320px -224px;
}
.sandstone_brick_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -320px;
}
.brick_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -320px;
}
.stone_brick_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -320px;
}
.stone_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -320px;
}
.iron_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -320px;
}
.hardite_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -320px;
}
.plank_wall {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -320px;
}
.flint {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -160px;
}
.string {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -160px;
}
.arrow {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -160px;
}
.bow {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -160px;
}
.can {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -288px;
}
.gold_can {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -288px;
}
.clay_bowl {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -256px;
}
.clay_vase {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -256px;
}
.glass_bowl {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -256px;
}
.red_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -352px;
}
.orange_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -352px;
}
.yellow_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -352px;
}
.cyan_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -352px;
}
.azure_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -352px;
}
.blue_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -352px;
}
.purple_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -352px;
}
.pink_tulip {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -352px;
}
.white_dandelion {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -352px;
}
.gray_dandelion {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -352px;
}
.yellow_dandelion {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -320px -352px;
}
.leaf {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -352px -352px;
}
.grass_blade {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -384px -352px;
}
.leaf_block {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -448px -192px;
}
.red_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: 0px -384px;
}
.orange_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -32px -384px;
}
.yellow_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -64px -384px;
}
.green_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -384px;
}
.cyan_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -384px;
}
.blue_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -384px;
}
.purple_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -384px;
}
.pink_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -384px;
}
.white_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -384px;
}
.gray_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -384px;
}
.black_dye {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -320px -384px;
}
.glass_bottle {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -96px -256px;
}
.potion_red {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -128px -256px;
}
.potion_orange {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -160px -256px;
}
.potion_yellow {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -192px -256px;
}
.potion_green {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -256px;
}
.potion_cyan {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -256px;
}
.potion_blue {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -256px;
}
.potion_purple {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -320px -256px;
}
.wood_sheild, .wood_shield {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -128px;
}
.iron_sheild, .iron_shield {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -96px;
}
.gold_sheild, .gold_shield {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -128px;
}
.butter {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -224px -288px;
}
.cabbage {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -256px -288px;
}
.gold_cabbage {
    background-image: url("Icons/Exported/armor_sheet.png");
    background-position: -288px -288px;
}
/* info (large) */
.yes, .passed {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: 0px 0px;
}
.no, .failed {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -32px 0px;
}
.clock, .time {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -64px 0px;
}
.info {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -96px 0px;
}
.passed_a {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: 0px -32px;
}
.passed_b {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -32px -32px;
}
/* info (small) */
.fs1 {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -192px 0px;
}
.fs2 {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -208px 0px;
}
.fs3 {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -192px -16px;
}
.sun, .sunny, .day {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px 0px;
}
.moon, .night {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px 0px;
}
.storm, .stormy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -208px -16px;
}
.cloud, .cloudy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px -16px;
}
.rain, .rainy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px -16px;
}
.info_small {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -176px 0px;
}
.help {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -176px -16px;
}
.collapse_closed {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -160px 0px;
}
.collapse_open {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -160px -16px;
}
.craft_default {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px -32px;
}
.craft_alchemy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px -32px;
}
.craft_smithing {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px -48px;
}
.craft_smelting {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px -48px;
}