/* setup */
span.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}
span.small_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icon {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -608px -480px;
}
/* hud */
.heart, .health {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px 0px;
}
.heart2 {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px 0px;
}
.broken_heart, .ko {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px 0px;
}
.sword, .attack {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px 0px;
}
.sheild, .shield, .defense, .defence {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px 0px;
}
.swing, .kill {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px 0px;
}
.broken_sheild, .death, .broken_shield {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px 0px;
}
.target, .accuracy {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px 0px;
}
/* types */
.normal_type, .placeholder {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px -64px;
}
.fire_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px -64px;
}
.water_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px -64px;
}
.elec_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px -64px;
}
.plant_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px -64px;
}
.ice_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px -64px;
}
.light_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px -64px;
}
.dark_type {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px -64px;
}
.typeless {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -256px -64px;
}
.missingtype {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -288px -64px;
}
/* effects */
.fire, .on_fire {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px -128px;
}
.freeze, .frozen {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px -128px;
}
.atk_up {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px -128px;
}
.def_up {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px -128px;
}
.atk_down {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px -128px;
}
.def_down {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px -128px;
}
.afk, .sleep {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px -128px;
}
.lightning, .paralyzed {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px -128px;
}
.poison, .poisoned {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -256px -128px;
}
.water, .soaked, .water_drop {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -288px -128px;
}
.bleeding {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -320px -128px;
}
.regen {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -416px -480px;
}
/* skills */
.pickaxe, .mining {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: 0px -192px;
}
.axe, .chopping {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -32px -192px;
}
.crafting {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -64px -192px;
}
.cooking, .grill {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -96px -192px;
}
.flower, .gardening {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -128px -192px;
}
.construction {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -160px -192px;
}
.carving, .sharpening {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -192px -192px;
}
.wheat, .farming {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -224px -192px;
}
.fishing {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -256px -192px;
}
.alchemy {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -288px -192px;
}
/* misc */
.missing, .iconless, .missingno {
    background-image: url("Icons/Exported/icons_sheet.png");
    background-position: -480px -480px;
}
/* equipment */
.empty_helm {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: 0px 0px;
}
.empty_chest {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -32px 0px;
}
.empty_legs {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -64px 0px;
}
.empty_boots {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -96px 0px;
}
.empty_sword {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -128px 0px;
}
.empty_shield, .empty_sheild {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -160px 0px;
}
.empty_acc {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -192px 0px;
}
.empty_food {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -224px 0px;
}
.diamond_helm {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: 0px -160px;
}
.diamond_chest {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -32px -160px;
}
.diamond_legs {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -64px -160px;
}
.diamond_boots {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -96px -160px;
}
.diamond_sword {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -224px -160px;
}
.diamond_shield, .diamond_sheild {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -192px -160px;
}
.diamond_pendant {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -160px -160px;
}
.gold_burger {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -128px -32px;
}
.wood_sword {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -224px -32px;
}
.stick {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: 0px -32px;
}
.wood_shovel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -256px -32px;
}
.stick_rock {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -0px -288px;
}
.decent_hammer {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -32px -288px;
}
.icicle {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -96px -32px;
}
.gold_carrot {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -224px -0px;
}
.gold_sword {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -224px -96px;
}
.gold_shovel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -256px -96px;
}
.gold_pickaxe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -288px -96px;
}
.gold_axe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -320px -96px;
}
.stone_sword {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -224px -64px;
}
.stone_shovel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -256px -64px;
}
.stone_pickaxe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -288px -64px;
}
.stone_axe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -320px -64px;
}
.iron_sword {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -224px -128px;
}
.iron_shovel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -256px -128px;
}
.iron_pickaxe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -288px -128px;
}
.iron_axe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -320px -128px;
}
.diamond_shovel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -256px -160px;
}
.diamond_pickaxe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -288px -160px;
}
.diamond_axe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -320px -160px;
}
.wood_pickaxe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -288px -32px;
}
.wood_axe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -320px -32px;
}
.stick_item {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: 0px -32px;
}
.rock {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -32px -32px;
}
.flint_and_steel {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -64px -32px;
}
.log {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: 0px -0px;
}
.plank, .planks {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -32px -0px;
}
.dirt {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -96px -0px;
}
.grass {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -128px -0px;
}
.gravel {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -224px -0px;
}
.sand {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -192px -0px;
}
.coal {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: 0px -32px;
}
.diamond {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -96px -32px;
}
.iron_ore {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -0px -0px;
}
.iron_bar {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -32px -0px;
}
.copper_ore {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -64px -0px;
}
.copper_bar {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -96px -0px;
}
.gold_ore {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -128px -0px;
}
.gold_bar {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -160px -0px;
}
.logo_f {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -192px -192px;
}
.logo_s {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -224px -192px;
}
.logo_3 {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -224px -224px;
}
.tnt {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -192px -32px;
}
.stone {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -160px -0px;
}
.sandstone {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -64px -32px;
}
.bricks {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -0px -32px;
}
.stone_bricks {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -32px -32px;
}
.sandstone_bricks {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -96px -32px;
}
.carved_sandstone {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -128px -32px;
}
.glass_block {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -160px -32px;
}
.carrot {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -192px -0px;
}
.apple {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -0px -0px;
}
.golden_apple {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -32px -0px;
}
.orange {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -64px -0px;
}
.golden_orange {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -96px -0px;
}
.clay_sheild, .clay_shield {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -192px -256px;
}
.hardite_ore {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -192px -0px;
}
.hardite_bar {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -224px -0px;
}
.emerald {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -128px -32px;
}
.sandstone_brick_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: 0px -64px;
}
.brick_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -32px -64px;
}
.stone_brick_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -64px -64px;
}
.stone_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -96px -64px;
}
.iron_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -128px -64px;
}
.hardite_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -160px -64px;
}
.plank_wall {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -192px -64px;
}
.flint {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -64px -32px;
}
.string {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -32px -32px;
}
.arrow {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -64px -288px;
}
.bow {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -96px -288px;
}
.can {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -0px -32px;
}
.gold_can {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -32px -32px;
}
.clay_bowl {
    background-image: url("Icons/Exported/decor_sheet.png");
    background-position: 0px -0px;
}
.clay_vase {
    background-image: url("Icons/Exported/decor_sheet.png");
    background-position: -32px -0px;
}
.glass_bowl {
    background-image: url("Icons/Exported/decor_sheet.png");
    background-position: -64px -0px;
}
.red_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: 0px -96px;
}
.orange_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -32px -96px;
}
.yellow_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -64px -96px;
}
.cyan_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -96px -96px;
}
.azure_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -128px -96px;
}
.blue_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -160px -96px;
}
.purple_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -192px -96px;
}
.pink_tulip {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -224px -96px;
}
.white_dandelion {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -32px -64px;
}
.gray_dandelion {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -64px -64px;
}
.yellow_dandelion {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -96px -64px;
}
.leaf {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -128px -64px;
}
.grass_blade {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -160px -64px;
}
.leaf_block {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -64px -0px;
}
.red_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -160px -192px;
}
.orange_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -192px -192px;
}
.yellow_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -224px -192px;
}
.green_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -0px -224px;
}
.cyan_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -32px -224px;
}
.blue_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -64px -224px;
}
.purple_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -96px -224px;
}
.pink_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -128px -224px;
}
.white_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -160px -224px;
}
.gray_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -192px -224px;
}
.black_dye {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -224px -224px;
}
.glass_bottle {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -0px -0px;
}
.potion_red {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -32px -0px;
}
.potion_orange {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -64px -0px;
}
.potion_yellow {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -96px -0px;
}
.potion_green {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -128px -0px;
}
.potion_cyan {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -160px -0px;
}
.potion_blue {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -192px -0px;
}
.potion_purple {
    background-image: url("Icons/Exported/alchemy_sheet.png");
    background-position: -224px -0px;
}
.wood_sheild, .wood_shield {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -192px -32px;
}
.iron_sheild, .iron_shield {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -192px -128px;
}
.gold_sheild, .gold_shield {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -192px -96px;
}
.butter {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -224px -32px;
}
.cabbage {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -128px -0px;
}
.gold_cabbage {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -160px -0px;
}
.wood_bowl {
    background-image: url("Icons/Exported/decor_sheet.png");
    background-position: -96px -0px;
}
.wood_table {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: 0px -96px;
}
.wood_chair {
    background-image: url("Icons/Exported/block_sheet.png");
    background-position: -32px -96px;
}
.dough {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -160px -32px;
}
.gold_dough {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -192px -32px;
}
.gold_helm {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -0px -96px;
}
.gold_chest {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -32px -96px;
}
.gold_legs {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -64px -96px;
}
.gold_boots {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -96px -96px;
}
.iron_helm {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -0px -128px;
}
.iron_chest {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -32px -128px;
}
.iron_legs {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -64px -128px;
}
.iron_boots {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -96px -128px;
}
.wood_hoe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -352px -32px;
}
.stone_hoe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -352px -64px;
}
.gold_hoe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -352px -96px;
}
.iron_hoe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -352px -128px;
}
.diamond_hoe {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -352px -160px;
}
.red_mushroom {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -192px -64px;
}
.brown_mushroom {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: -224px -64px;
}
.wood_hammer {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -384px -32px;
}
.stone_hammer {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -384px -64px;
}
.gold_hammer {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -384px -96px;
}
.iron_hammer {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -384px -128px;
}
.diamond_hammer {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -384px -160px;
}
.wood_trowel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -416px -32px;
}
.stone_trowel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -416px -64px;
}
.gold_trowel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -416px -96px;
}
.iron_trowel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -416px -128px;
}
.diamond_trowel {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -416px -160px;
}
.goldfish {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -0px -0px;
}
.jellyfish {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -32px -0px;
}
.fish_3 {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -64px -0px;
}
.fish_4 {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -96px -0px;
}
.gold_goldfish {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -128px -0px;
}
.old_boot {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -160px -0px;
}
.old_boot_pair {
    background-image: url("Icons/Exported/fish_sheet.png");
    background-position: -192px -0px;
}
.leather {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -0px -64px;
}
.bone {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -32px -64px;
}
.wood_fish_rod {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -448px -32px;
}
.stone_fish_rod {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -448px -64px;
}
.gold_fish_rod {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -448px -96px;
}
.iron_fish_rod {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -448px -128px;
}
.diamond_fish_rod {
    background-image: url("Icons/Exported/equip_sheet.png");
    background-position: -448px -160px;
}
.sap {
    background-image: url("Icons/Exported/plant_sheet.png");
    background-position: 0px -128px;
}
.fuel_outline {
    background-image: url("Icons/Exported/ore_sheet.png");
    background-position: -128px -224px;
}
.stocking {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -64px -64px;
}
.blue_candy {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -96px -64px;
}
.green_candy {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -128px -64px;
}
.red_candy {
    background-image: url("Icons/Exported/misc_sheet.png");
    background-position: -160px -64px;
}
/* info (large) */
.yes, .passed {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: 0px 0px;
}
.no, .failed {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -32px 0px;
}
.clock, .time {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -64px 0px;
}
.info {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -96px 0px;
}
.passed_a {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: 0px -32px;
}
.passed_b {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -32px -32px;
}
/* info (small) */
.fs1 {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -192px 0px;
}
.fs2 {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -208px 0px;
}
.fs3 {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -192px -16px;
}
.sun, .sunny {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px 0px;
}
.moon {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px 0px;
}
.storm, .stormy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -208px -16px;
}
.cloud, .cloudy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px -16px;
}
.rain, .rainy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px -16px;
}
.day {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -128px 0px;
}
.dusk {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -144px 0px;
}
.night {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -128px -16px;
}
.dawn {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -144px -16px;
}
.info_small {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -176px 0px;
}
.help {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -176px -16px;
}
.collapse_closed {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -160px 0px;
}
.collapse_open {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -160px -16px;
}
.craft_default {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px -32px;
}
.craft_alchemy {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px -32px;
}
.craft_smithing {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -224px -48px;
}
.craft_smelting {
    background-image: url("Icons/Exported/info_sheet.png");
    background-position: -240px -48px;
}
/* effects */
.enchanted {
    animation: enchanted_anim 2s infinite;
}
.ripe {
    filter: contrast(1.3) saturate(0.9);
}

@keyframes enchanted_anim {
    0% {filter: saturate(0.8) contrast(0.9);}
    50% {filter: saturate(1.7) contrast(1.5);}
    100% {filter: saturate(0.8) contrast(0.9);}
}