.player_table {
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    display: inline-block;
    margin: 2px;
    padding-bottom: 5px;
    vertical-align: top;
    position: relative;
}
.username {
    color: white;
    background-color: black;
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.health_disp, .combat_disp {
    width: calc(50% - 1px);
    display: inline-block;
    background-color: #8f8f8f;
    height: 32px;
}
.kd_disp {
    width: 100%;
    display: inline-block;
    background-color: #8f8f8f;
    height: 32px;
}
.health_disp {
    float: left;
}
.combat_disp {
    float: right;
}
.kd_disp {
   margin-top: 2px; 
}
.type_icon {
    position: absolute;
    left: 0px;
}
.meter_container {
    height: 68px;
    background-color: black;
    font-size: 12px;
}
.pt_effects, .pt_skills {
    width: 95%;
    margin-top: 0px;
}
.pt_effects tr, .pt_effects td, .pt_effects th, .pt_skills tr, .pt_skills td, .pt_skills th, .pt_equip tr, .pt_equip td, .pt_equip th {
    background-color: transparent;
}
.pt_equip {
    margin-top: 0px;
    width: 272px;
    height: 32px;
    background-image: url("3/Items/Exported/equip_back.png");
    display: block;
    margin: auto;
    padding: 2px 0px 2px 2px;
}
.pt_equip span {
    margin-right: 2px;
}
.pt_level_upper {
    font-weight: bold;
    font-size: 16px;
}
.pt_level_lower {
    font-style: italic;
    font-size: 11px;
    text-align: right;
}
.pt_level_contain {
    position: absolute;
    right: 2px;
    top: 2px;
    color: white;
}
.pt_level_contain p {
    margin: 0px;
}