.questleft {
    width: calc(80%-5px);
    height: 45px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    left: 5px;
    top: 5px;
    position: absolute;
}
.questright {
    width: calc(20%-5px);
    right: 5px;
    position: absolute;
    height: 45px;
    top: 5px;
    text-align: right;
}
.questbottom {
    position: absolute;
    width: 100%;
    bottom: 5px;
    height: 15px;
    font-style: italic;
}
.questbox {
    height: 70px;
}
.repquestbox {
    min-height: 140px;
    padding-left: 5px;
    padding-right: 5px;
}
.questbottomleft {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 50px;
    height: 15px;
    font-size: 15px;
    text-align: left;
}
.repquesttop {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    margin: auto;
    width: 100%;
}
.repquestmid {
    position: absolute;
    width: 100%;
    top: 30px;
}
.repquesttable {
    margin-bottom: 5px;
}
.repquesttable tbody, .repquesttable tr, .repquesttable th, .repquesttable td {
    font-size: 12px;
}
.repquestbottom {
    font-size: 14px;
}