table, th, td {
    border-collapse: collapse;
    font-size: 15px;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}
th, td {
    max-width: 400px;
    background-color: white;
    border: 1px solid black;
}
td>img {
    margin-top: 0px;
    background-color: #7f7f7f;
}
.inv_item {
    width: 64px;
    height: 71px;
    background-color: #7f7f7f;
    border: 5px ridge #7f7f7f;
    text-align: center;
}
.inv_space {
    width: 6px;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
.inv_user {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}